@import url('//static.joekoop.com/font/Roboto.css');
html {
    font-family: 'Roboto', 'Ubuntu', sans-serif;
}
body {
    margin: 8px;
}
.monospace, code, pre {
    font-family: 'Roboto Mono', monospace;
}
hr {
    border: 0;
    border-top: 1px solid #000;
}
address {
    float: right;
    text-align: right;
    color: #444;
    padding-bottom: 8px;
}
#navbar a {
    margin-right: 20px;
}
h1:nth-of-type(1) span {
    white-space: nowrap;
}
table {
    margin: 0 auto;
    text-align: center;
    /*    border-collapse: collapse;
    border-spacing: 0px;*/
}
td, th {
    padding: 1px 8px;
    /*border: 1px solid black;*/
}
table.invoice, table table, table.invoice tr.row_head th:first-of-type, table.invoice tr.invoice_row td:first-of-type {
    text-align: left;
}
table.invoice {
    white-space: nowrap;
}
table.invoice tr.invoice_row td:first-of-type {
    white-space: initial;
}
table.invoice tr.row_head, .center, .invoice_paid {
    text-align: center;
}
table.invoice tr.invoice_row, table.invoice tr:last-of-type td:last-of-type, .invoice_text {
    text-align: right;
}
.highlight {
    background-color: #ff0;
}
.invoice_text {
    font-size: xxx-large;
}
.invoice_wide {
    width: 100vw;
}
.invoice_paid {
    min-width: 200px;
    text-align: center;
}
.invoice_paid div {
    width: max-content;
    transform: rotate(15deg) scale(1.5);
    margin: auto;
}
.invoice_paid span:first-of-type {
    font-size: xxx-large;
}
.invoice_paid span:last-of-type {
    font-size: larger;
}
@media only screen and (min-width: 1016px) {
    body {
        width: 1000px;
        margin-left: calc(50% - 500px);
    }
}
@media print {
    h1, hr, address, p {
        display: none;
    }
}
