@import url('//static.joekoop.com/font/Roboto.css');
html {
    font-family: 'Roboto', 'Ubuntu', sans-serif;
}
body {
    margin: 8px;
}
.monospace, code, pre {
    font-family: 'Roboto Mono', monospace;
}
hr {
    border: 0;
    border-top: 1px solid #000;
}
address {
    float: right;
    text-align: right;
    color: #444;
    padding-bottom: 8px;
}
#title a span.c {
    display: none;
}
@media only screen and (max-width: 550px) {
    #title a span.a, #title span.b {
        display: none;
    }
    #title a span.c {
        display: initial;
    }
}
@media only screen and (min-width: 1016px) {
    body {
        width: 1000px;
        margin-left: calc(50% - 500px);
    }
}